

.book{
    width: 100%;
    background-color: #17215f;
}

header{
    width: 100%;
    color: #fff;
}
header .wrap{
    width: 100%;
    padding: 30px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .wrap .left{
    display: flex;
    align-items: center;
}
header .wrap .left .logo{
    margin-right: 30px;
}
header .wrap .left ul{
    display: flex;
    gap: 0 30px;
}
header .wrap .left ul li a{
    color: #fff;
}

header .wrap .right a{
    display: flex;
    align-items: center;
    gap: 0 10px;
}
.profile_img img{
    width: 30px;
    height: 30px;
}

.content{
    width: 100%;
    height: 100%;
    padding: 0 0 40px 40px;
}
.content .section{
    height: calc(100vh - 140px);
    background-color: #fff;
    border-top-left-radius: 50px;
    padding:  0 40px 30px;
    overflow: hidden;
}
.search_form{
    width: 100%;
    text-align: right;
    padding: 10px 0;
    position: relative;
}
.search_form input{
    width: 300px;
    border: 1px solid #999;
    border-radius: 30px;
    padding: 8px 10px;
}
.search_form .search_btn{
    position: absolute;
    top: 13px;
    right: 10px;
    width: 28px;
    height: 28px;
    display: block;
    background-color: transparent;
    cursor: pointer;
}
.ico_search{
    width: 100%;
    height: 100%;
    display: block;
    background: url(/asset/images/icon_search.png) no-repeat 100% / cover;
}

.content .section p{
    color: #000;
}
.content .section .list{
    width: 100%;
    max-height: 90%;
    overflow-y: auto;
    border-bottom: 1px solid #eee;
}
.content .section .list table{
    width: 100%;
    border-collapse: separate;
	border-spacing: 0;
    border-bottom: 1px solid #eee;
}
th, tr, td{
    border: 1px solid #eee;
    border-bottom: none;
    white-space : nowrap;
}
.content .section .list thead th{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #eee;
    padding: 10px;
    font-weight: 500;
    font-size: 14px;
}
.content .section .list tbody{
    width: 100%;
    height: 50vh;
    overflow-y: auto;
}
.content .section .list tbody td{
    padding: 10px;
    text-align: center;
}
.content .section .list .num{
    width: 5%;
}
.content .section .list .book_name{
    width: 30%;
}
.content .section .list .author,
.content .section .list .publisher{
    width: 20%;
}
.content .section .list .status,
.content .section .list .borrow{
    width: 10%;
}
.content .section .pagination{
    text-align: center;
    padding: 20px 0 0 ;
}
.content .section .pagination a{
    padding: 5px;
}
.content .section .pagination a.active{
    font-weight: 700;
    color: #000;
}
.btn{
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
}
.btn.btn-primary{
    background-color: #3761ce;
}
.btn.btn-second{
    background-color: #5cb85c ;
    background-color: #7630c2 ;
    background-color: #fff ;
    color: #333;
    box-shadow: 0 0 0 1px #999 inset; 
}
.btn.btn-third{
    background-color: #eee;
    color: #666;
    cursor: auto;
}

