
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.pc_only{ display: block;}
.mo_only{ display: none;}

/* 화살표 */
.swiper-button-next, .swiper-button-prev{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper-button-next::after, .swiper-button-prev::after{
    color: #000;
    font-size: 30px;
}

section{
    margin-bottom: 180px;
}
h2{
    margin: 30px;
}

.slide_01{
    width: 100%;
    position: relative;
}
.slide_01 .wrap{
    width: 100%;
    padding: 0 60px;
    position: relative;
}
.slide_01 .wrap .swiper{
    width: 100%;
}
.swiper-slide{
    width: 100%;
    height: 24.4271vw;
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
}


.slide_02{
    width: 100%;
    position: relative;
}
.slide_02 .wrap .swiper{
    width: 100%;
}
.slide_02 .wrap .swiper .swiper-slide{
    width: 62.0833vw;
    height: auto;
    aspect-ratio: 1192 / 700;
    background-color: #666;
}
.slide_02 .wrap .swiper .swiper-slide-prev,
.slide_02 .wrap .swiper .swiper-slide-next{
    transform: scale(.8);
    opacity: .7;
    position: relative;
}
.slide_02 .wrap .swiper .swiper-slide-prev{
    left: 10%;
}
.slide_02 .wrap .swiper .swiper-slide-next{
    right: 10%;
}
.slide_02 .wrap .swiper .swiper-slide-active{
    transform: scale(1);
    opacity:  1;
}
.slide_02 .swiper-button-next{
    right: 7%;
}
.slide_02 .swiper-button-prev{
    left: 7%;
}

.slide_03 .wrap{
    width: 100%;
    padding: 0 6.25vw;
}
.slide_03 .wrap .swiper .swiper-slide{
    width: 100%;
    height: auto;
    aspect-ratio: 2 / 1;
    background-color: #666;
    color: #fff;
    font-size: 5.2083vw;
}
.slide_03 .wrap .tab ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 1.25vw;
    margin-top: 2.0833vw;
}
.slide_03 .wrap .tab ul li{
    width: 128px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #666;
    color: #fff;
    cursor: pointer;
}

.slide_03 .wrap .tab ul li.on{
    border: 3px solid #000;
}

.slide_04 .wrap{
    width: 100%;
    padding: 0 6.25vw;
    position: relative;
}
.slide_04 .swiper-slide{
    width: 100%;
    height: auto;
    aspect-ratio: 2 / 1;
    background-color: #666;
    color: #fff;
    font-size: 2.0833vw;
}



.slide_04 .wrap .progress-box{
    position: absolute;
    bottom: 13%;
    width: 100%;
    z-index: 20;
    padding: 0 7.9167vw;
}
.slide_04 .autoplay-progress {
	width: 90%;
	height: 3px;
	background-color: rgba(0, 0, 0, 0.1);
}
.slide_04 .autoplay-progress svg {
	--progress: 0;
	width: 100%;
	stroke-width: 0.5px;
	stroke: #fff;
	fill: none;
	stroke-dashoffset: calc(100 * (1 - var(--progress)));
	stroke-dasharray: 100;
}
.slide_04 .swiper-pagination {
    bottom: 12%;
    text-align: center;
    width: 50px;
    left: auto;
    right: 10%;
    color: #fff;
    font-size: 0.8333vw;
}







/* ================================================ */

@media (max-width: 767px) { 
    .pc_only{ display: none;}
    .mo_only{ display: block;}

    .slide_01{
        width: 100%;
        padding: 0;
    }
    .slide_01 .wrap{
        width: 100%;
        padding: 0;
    }
    .slide_01 .wrap .swiper .swiper-slide{
        height: 320px;
    }

    .slide_02 .wrap .swiper .swiper-slide{
        width: 327px;
        height: auto;
        aspect-ratio: 327 / 600;
    }

    .slide_03 .wrap{
        padding: 0 12px;
    }
    .slide_03 .wrap .swiper .swiper-slide{
        font-size: 30px;
    }
    .slide_03 .wrap .tab ul{
        gap: 0 12px;
        margin-top: 20px;
    }
    .slide_03 .wrap .tab ul li{
        font-size: 12px;
        height: 60px;
    }

    .slide_04 .wrap{
        padding: 0 12px;
    }
    .slide_04 .autoplay-progress svg {
        stroke-width: 1px;
    }
    .slide_04 .swiper-pagination {
        bottom: 11%;
        right: 5%;
        font-size: 2.0667vw;
    }
} 